@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?tfqhpq');
    src:    url('../fonts/icomoon.eot?tfqhpq#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tfqhpq') format('truetype'),
        url('../fonts/icomoon.woff?tfqhpq') format('woff'),
        url('../fonts/icomoon.svg?tfqhpq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mobile2:before {
    content: "\e000";
}
.icon-laptop2:before {
    content: "\e001";
}
.icon-desktop2:before {
    content: "\e002";
}
.icon-tablet2:before {
    content: "\e00d";
}
.icon-phone2:before {
    content: "\e00e";
}
.icon-document:before {
    content: "\e00f";
}
.icon-documents:before {
    content: "\e01a";
}
.icon-search3:before {
    content: "\e01b";
}
.icon-clipboard2:before {
    content: "\e01c";
}
.icon-newspaper:before {
    content: "\e01d";
}
.icon-notebook:before {
    content: "\e01e";
}
.icon-book-open:before {
    content: "\e01f";
}
.icon-browser:before {
    content: "\e028";
}
.icon-calendar:before {
    content: "\e029";
}
.icon-presentation:before {
    content: "\e02c";
}
.icon-picture:before {
    content: "\e02d";
}
.icon-pictures:before {
    content: "\e02e";
}
.icon-video2:before {
    content: "\e02f";
}
.icon-camera3:before {
    content: "\e034";
}
.icon-printer2:before {
    content: "\e035";
}
.icon-toolbox:before {
    content: "\e036";
}
.icon-briefcase3:before {
    content: "\e037";
}
.icon-wallet:before {
    content: "\e038";
}
.icon-gift2:before {
    content: "\e039";
}
.icon-bargraph:before {
    content: "\e04a";
}
.icon-grid2:before {
    content: "\e04b";
}
.icon-expand3:before {
    content: "\e04c";
}
.icon-focus:before {
    content: "\e04d";
}
.icon-edit2:before {
    content: "\e04e";
}
.icon-adjustments:before {
    content: "\e04f";
}
.icon-ribbon2:before {
    content: "\e05a";
}
.icon-hourglass:before {
    content: "\e05b";
}
.icon-lock3:before {
    content: "\e05c";
}
.icon-megaphone:before {
    content: "\e05d";
}
.icon-shield:before {
    content: "\e05e";
}
.icon-trophy2:before {
    content: "\e05f";
}
.icon-flag3:before {
    content: "\e06a";
}
.icon-map2:before {
    content: "\e06b";
}
.icon-puzzle:before {
    content: "\e06c";
}
.icon-basket:before {
    content: "\e06d";
}
.icon-envelope2:before {
    content: "\e06e";
}
.icon-streetsign:before {
    content: "\e06f";
}
.icon-telescope:before {
    content: "\e07a";
}
.icon-gears2:before {
    content: "\e07b";
}
.icon-key2:before {
    content: "\e07c";
}
.icon-paperclip:before {
    content: "\e07d";
}
.icon-attachment:before {
    content: "\e07e";
}
.icon-pricetags:before {
    content: "\e07f";
}
.icon-lightbulb:before {
    content: "\e08a";
}
.icon-layers2:before {
    content: "\e08b";
}
.icon-pencil2:before {
    content: "\e08c";
}
.icon-tools:before {
    content: "\e08d";
}
.icon-tools-2:before {
    content: "\e08e";
}
.icon-scissors2:before {
    content: "\e08f";
}
.icon-paintbrush:before {
    content: "\e09a";
}
.icon-magnifying-glass:before {
    content: "\e09b";
}
.icon-circle-compass:before {
    content: "\e09c";
}
.icon-linegraph:before {
    content: "\e09d";
}
.icon-mic:before {
    content: "\e09e";
}
.icon-strategy:before {
    content: "\e09f";
}
.icon-beaker:before {
    content: "\e0a0";
}
.icon-caution:before {
    content: "\e0a1";
}
.icon-recycle:before {
    content: "\e0a2";
}
.icon-anchor3:before {
    content: "\e0a3";
}
.icon-profile-male:before {
    content: "\e0a4";
}
.icon-profile-female:before {
    content: "\e0a5";
}
.icon-bike:before {
    content: "\e0a6";
}
.icon-wine:before {
    content: "\e0a7";
}
.icon-hotairballoon:before {
    content: "\e0a8";
}
.icon-globe3:before {
    content: "\e0a9";
}
.icon-genius:before {
    content: "\e0aa";
}
.icon-map-pin:before {
    content: "\e0ab";
}
.icon-dial:before {
    content: "\e0ac";
}
.icon-chat:before {
    content: "\e0ad";
}
.icon-heart3:before {
    content: "\e0ae";
}
.icon-cloud3:before {
    content: "\e0af";
}
.icon-upload3:before {
    content: "\e0b0";
}
.icon-download3:before {
    content: "\e0b1";
}
.icon-target2:before {
    content: "\e0b2";
}
.icon-hazardous:before {
    content: "\e0b3";
}
.icon-piechart:before {
    content: "\e0b4";
}
.icon-speedometer:before {
    content: "\e0b5";
}
.icon-global:before {
    content: "\e0b6";
}
.icon-compass:before {
    content: "\e0b7";
}
.icon-lifesaver:before {
    content: "\e0b8";
}
.icon-clock2:before {
    content: "\e0b9";
}
.icon-aperture:before {
    content: "\e0ba";
}
.icon-quote:before {
    content: "\e0bb";
}
.icon-scope:before {
    content: "\e0bc";
}
.icon-alarmclock:before {
    content: "\e0bd";
}
.icon-refresh2:before {
    content: "\e0be";
}
.icon-happy:before {
    content: "\e0bf";
}
.icon-sad:before {
    content: "\e0c0";
}
.icon-facebook2:before {
    content: "\e0c1";
}
.icon-twitter2:before {
    content: "\e0c2";
}
.icon-googleplus:before {
    content: "\e0c3";
}
.icon-rss2:before {
    content: "\e0c4";
}
.icon-tumblr2:before {
    content: "\e0c5";
}
.icon-linkedin2:before {
    content: "\e0c6";
}
.icon-dribbble2:before {
    content: "\e0c7";
}
.icon-music:before {
    content: "\f001";
}
.icon-search:before {
    content: "\f002";
}
.icon-envelope-o:before {
    content: "\f003";
}
.icon-heart2:before {
    content: "\f004";
}
.icon-star:before {
    content: "\f005";
}
.icon-star-o:before {
    content: "\f006";
}
.icon-user:before {
    content: "\f007";
}
.icon-th-large:before {
    content: "\f009";
}
.icon-th:before {
    content: "\f00a";
}
.icon-th-list:before {
    content: "\f00b";
}
.icon-check:before {
    content: "\f00c";
}
.icon-close:before {
    content: "\f00d";
}
.icon-remove:before {
    content: "\f00d";
}
.icon-times:before {
    content: "\f00d";
}
.icon-search-plus:before {
    content: "\f00e";
}
.icon-search-minus:before {
    content: "\f010";
}
.icon-power-off:before {
    content: "\f011";
}
.icon-signal:before {
    content: "\f012";
}
.icon-cog2:before {
    content: "\f013";
}
.icon-gear:before {
    content: "\f013";
}
.icon-trash-o:before {
    content: "\f014";
}
.icon-home:before {
    content: "\f015";
}
.icon-file-o:before {
    content: "\f016";
}
.icon-clock-o:before {
    content: "\f017";
}
.icon-download2:before {
    content: "\f019";
}
.icon-arrow-circle-o-down:before {
    content: "\f01a";
}
.icon-arrow-circle-o-up:before {
    content: "\f01b";
}
.icon-inbox2:before {
    content: "\f01c";
}
.icon-play-circle-o:before {
    content: "\f01d";
}
.icon-repeat2:before {
    content: "\f01e";
}
.icon-rotate-right:before {
    content: "\f01e";
}
.icon-refresh:before {
    content: "\f021";
}
.icon-list-alt:before {
    content: "\f022";
}
.icon-lock2:before {
    content: "\f023";
}
.icon-flag2:before {
    content: "\f024";
}
.icon-tag2:before {
    content: "\f02b";
}
.icon-tags:before {
    content: "\f02c";
}
.icon-book2:before {
    content: "\f02d";
}
.icon-bookmark:before {
    content: "\f02e";
}
.icon-camera2:before {
    content: "\f030";
}
.icon-image:before {
    content: "\f03e";
}
.icon-photo:before {
    content: "\f03e";
}
.icon-picture-o:before {
    content: "\f03e";
}
.icon-pencil:before {
    content: "\f040";
}
.icon-map-marker:before {
    content: "\f041";
}
.icon-adjust:before {
    content: "\f042";
}
.icon-tint:before {
    content: "\f043";
}
.icon-edit:before {
    content: "\f044";
}
.icon-pencil-square-o:before {
    content: "\f044";
}
.icon-share-square-o:before {
    content: "\f045";
}
.icon-check-square-o:before {
    content: "\f046";
}
.icon-arrows:before {
    content: "\f047";
}
.icon-play2:before {
    content: "\f04b";
}
.icon-pause:before {
    content: "\f04c";
}
.icon-stop2:before {
    content: "\f04d";
}
.icon-chevron-left:before {
    content: "\f053";
}
.icon-chevron-right:before {
    content: "\f054";
}
.icon-plus-circle:before {
    content: "\f055";
}
.icon-minus-circle:before {
    content: "\f056";
}
.icon-times-circle:before {
    content: "\f057";
}
.icon-check-circle:before {
    content: "\f058";
}
.icon-question-circle:before {
    content: "\f059";
}
.icon-info-circle:before {
    content: "\f05a";
}
.icon-crosshairs:before {
    content: "\f05b";
}
.icon-times-circle-o:before {
    content: "\f05c";
}
.icon-check-circle-o:before {
    content: "\f05d";
}
.icon-mail-forward:before {
    content: "\f064";
}
.icon-share:before {
    content: "\f064";
}
.icon-expand2:before {
    content: "\f065";
}
.icon-compress:before {
    content: "\f066";
}
.icon-plus2:before {
    content: "\f067";
}
.icon-minus2:before {
    content: "\f068";
}
.icon-asterisk:before {
    content: "\f069";
}
.icon-exclamation-circle:before {
    content: "\f06a";
}
.icon-gift:before {
    content: "\f06b";
}
.icon-leaf:before {
    content: "\f06c";
}
.icon-eye:before {
    content: "\f06e";
}
.icon-exclamation-triangle:before {
    content: "\f071";
}
.icon-warning:before {
    content: "\f071";
}
.icon-plane:before {
    content: "\f072";
}
.icon-random:before {
    content: "\f074";
}
.icon-comment:before {
    content: "\f075";
}
.icon-chevron-up:before {
    content: "\f077";
}
.icon-chevron-down:before {
    content: "\f078";
}
.icon-retweet:before {
    content: "\f079";
}
.icon-shopping-cart:before {
    content: "\f07a";
}
.icon-folder2:before {
    content: "\f07b";
}
.icon-folder-open:before {
    content: "\f07c";
}
.icon-arrows-v:before {
    content: "\f07d";
}
.icon-arrows-h:before {
    content: "\f07e";
}
.icon-bar-chart:before {
    content: "\f080";
}
.icon-bar-chart-o:before {
    content: "\f080";
}
.icon-key:before {
    content: "\f084";
}
.icon-cogs:before {
    content: "\f085";
}
.icon-gears:before {
    content: "\f085";
}
.icon-comments:before {
    content: "\f086";
}
.icon-thumbs-o-up:before {
    content: "\f087";
}
.icon-thumbs-o-down:before {
    content: "\f088";
}
.icon-star-half:before {
    content: "\f089";
}
.icon-heart-o:before {
    content: "\f08a";
}
.icon-thumb-tack:before {
    content: "\f08d";
}
.icon-external-link:before {
    content: "\f08e";
}
.icon-trophy:before {
    content: "\f091";
}
.icon-upload2:before {
    content: "\f093";
}
.icon-lemon-o:before {
    content: "\f094";
}
.icon-phone:before {
    content: "\f095";
}
.icon-bookmark-o:before {
    content: "\f097";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-facebook-f:before {
    content: "\f09a";
}
.icon-github:before {
    content: "\f09b";
}
.icon-feed:before {
    content: "\f09e";
}
.icon-rss:before {
    content: "\f09e";
}
.icon-hdd-o:before {
    content: "\f0a0";
}
.icon-bullhorn:before {
    content: "\f0a1";
}
.icon-bell-o:before {
    content: "\f0a2";
}
.icon-certificate:before {
    content: "\f0a3";
}
.icon-globe2:before {
    content: "\f0ac";
}
.icon-wrench:before {
    content: "\f0ad";
}
.icon-tasks:before {
    content: "\f0ae";
}
.icon-briefcase2:before {
    content: "\f0b1";
}
.icon-arrows-alt:before {
    content: "\f0b2";
}
.icon-group:before {
    content: "\f0c0";
}
.icon-users:before {
    content: "\f0c0";
}
.icon-chain:before {
    content: "\f0c1";
}
.icon-link:before {
    content: "\f0c1";
}
.icon-cloud:before {
    content: "\f0c2";
}
.icon-flask:before {
    content: "\f0c3";
}
.icon-cut:before {
    content: "\f0c4";
}
.icon-scissors:before {
    content: "\f0c4";
}
.icon-bars:before {
    content: "\f0c9";
}
.icon-navicon:before {
    content: "\f0c9";
}
.icon-reorder:before {
    content: "\f0c9";
}
.icon-magic:before {
    content: "\f0d0";
}
.icon-pinterest:before {
    content: "\f0d2";
}
.icon-google-plus:before {
    content: "\f0d5";
}
.icon-envelope:before {
    content: "\f0e0";
}
.icon-linkedin:before {
    content: "\f0e1";
}
.icon-rotate-left:before {
    content: "\f0e2";
}
.icon-undo:before {
    content: "\f0e2";
}
.icon-gavel:before {
    content: "\f0e3";
}
.icon-legal:before {
    content: "\f0e3";
}
.icon-dashboard:before {
    content: "\f0e4";
}
.icon-tachometer:before {
    content: "\f0e4";
}
.icon-comment-o:before {
    content: "\f0e5";
}
.icon-comments-o:before {
    content: "\f0e6";
}
.icon-bolt:before {
    content: "\f0e7";
}
.icon-flash:before {
    content: "\f0e7";
}
.icon-umbrella:before {
    content: "\f0e9";
}
.icon-lightbulb-o:before {
    content: "\f0eb";
}
.icon-cloud-download2:before {
    content: "\f0ed";
}
.icon-cloud-upload2:before {
    content: "\f0ee";
}
.icon-bell2:before {
    content: "\f0f3";
}
.icon-file-text-o:before {
    content: "\f0f6";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-angle-up:before {
    content: "\f106";
}
.icon-angle-down:before {
    content: "\f107";
}
.icon-desktop:before {
    content: "\f108";
}
.icon-laptop:before {
    content: "\f109";
}
.icon-tablet:before {
    content: "\f10a";
}
.icon-mobile:before {
    content: "\f10b";
}
.icon-mobile-phone:before {
    content: "\f10b";
}
.icon-quote-left:before {
    content: "\f10d";
}
.icon-quote-right:before {
    content: "\f10e";
}
.icon-mail-reply:before {
    content: "\f112";
}
.icon-reply2:before {
    content: "\f112";
}
.icon-github-alt:before {
    content: "\f113";
}
.icon-folder-o:before {
    content: "\f114";
}
.icon-folder-open-o:before {
    content: "\f115";
}
.icon-smile-o:before {
    content: "\f118";
}
.icon-frown-o:before {
    content: "\f119";
}
.icon-meh-o:before {
    content: "\f11a";
}
.icon-gamepad:before {
    content: "\f11b";
}
.icon-keyboard-o:before {
    content: "\f11c";
}
.icon-flag-o:before {
    content: "\f11d";
}
.icon-flag-checkered:before {
    content: "\f11e";
}
.icon-terminal:before {
    content: "\f120";
}
.icon-code:before {
    content: "\f121";
}
.icon-star-half-empty:before {
    content: "\f123";
}
.icon-star-half-full:before {
    content: "\f123";
}
.icon-star-half-o:before {
    content: "\f123";
}
.icon-location-arrow:before {
    content: "\f124";
}
.icon-crop:before {
    content: "\f125";
}
.icon-code-fork:before {
    content: "\f126";
}
.icon-chain-broken:before {
    content: "\f127";
}
.icon-unlink:before {
    content: "\f127";
}
.icon-question:before {
    content: "\f128";
}
.icon-info:before {
    content: "\f129";
}
.icon-exclamation:before {
    content: "\f12a";
}
.icon-microphone2:before {
    content: "\f130";
}
.icon-rocket2:before {
    content: "\f135";
}
.icon-maxcdn:before {
    content: "\f136";
}
.icon-chevron-circle-left:before {
    content: "\f137";
}
.icon-chevron-circle-right:before {
    content: "\f138";
}
.icon-chevron-circle-up:before {
    content: "\f139";
}
.icon-chevron-circle-down:before {
    content: "\f13a";
}
.icon-html5:before {
    content: "\f13b";
}
.icon-css3:before {
    content: "\f13c";
}
.icon-anchor:before {
    content: "\f13d";
}
.icon-bullseye:before {
    content: "\f140";
}
.icon-ellipsis-h:before {
    content: "\f141";
}
.icon-ellipsis-v:before {
    content: "\f142";
}
.icon-eur:before {
    content: "\f153";
}
.icon-euro:before {
    content: "\f153";
}
.icon-gbp:before {
    content: "\f154";
}
.icon-dollar:before {
    content: "\f155";
}
.icon-usd:before {
    content: "\f155";
}
.icon-inr:before {
    content: "\f156";
}
.icon-rupee:before {
    content: "\f156";
}
.icon-cny:before {
    content: "\f157";
}
.icon-jpy:before {
    content: "\f157";
}
.icon-rmb:before {
    content: "\f157";
}
.icon-yen:before {
    content: "\f157";
}
.icon-rouble:before {
    content: "\f158";
}
.icon-rub:before {
    content: "\f158";
}
.icon-ruble:before {
    content: "\f158";
}
.icon-krw:before {
    content: "\f159";
}
.icon-won:before {
    content: "\f159";
}
.icon-bitcoin:before {
    content: "\f15a";
}
.icon-btc:before {
    content: "\f15a";
}
.icon-thumbs-up:before {
    content: "\f164";
}
.icon-thumbs-down:before {
    content: "\f165";
}
.icon-youtube:before {
    content: "\f167";
}
.icon-xing:before {
    content: "\f168";
}
.icon-youtube-play:before {
    content: "\f16a";
}
.icon-dropbox:before {
    content: "\f16b";
}
.icon-stack-overflow:before {
    content: "\f16c";
}
.icon-instagram:before {
    content: "\f16d";
}
.icon-flickr:before {
    content: "\f16e";
}
.icon-bitbucket:before {
    content: "\f171";
}
.icon-tumblr:before {
    content: "\f173";
}
.icon-long-arrow-down:before {
    content: "\f175";
}
.icon-long-arrow-up:before {
    content: "\f176";
}
.icon-long-arrow-left:before {
    content: "\f177";
}
.icon-long-arrow-right:before {
    content: "\f178";
}
.icon-apple:before {
    content: "\f179";
}
.icon-windows:before {
    content: "\f17a";
}
.icon-android:before {
    content: "\f17b";
}
.icon-linux:before {
    content: "\f17c";
}
.icon-dribbble:before {
    content: "\f17d";
}
.icon-skype:before {
    content: "\f17e";
}
.icon-foursquare:before {
    content: "\f180";
}
.icon-trello:before {
    content: "\f181";
}
.icon-female:before {
    content: "\f182";
}
.icon-male:before {
    content: "\f183";
}
.icon-gittip:before {
    content: "\f184";
}
.icon-gratipay:before {
    content: "\f184";
}
.icon-sun-o:before {
    content: "\f185";
}
.icon-moon-o:before {
    content: "\f186";
}
.icon-bug:before {
    content: "\f188";
}
.icon-vk:before {
    content: "\f189";
}
.icon-weibo:before {
    content: "\f18a";
}
.icon-renren:before {
    content: "\f18b";
}
.icon-pagelines:before {
    content: "\f18c";
}
.icon-stack-exchange:before {
    content: "\f18d";
}
.icon-caret-square-o-left:before {
    content: "\f191";
}
.icon-toggle-left:before {
    content: "\f191";
}
.icon-wordpress:before {
    content: "\f19a";
}
.icon-graduation-cap:before {
    content: "\f19d";
}
.icon-mortar-board:before {
    content: "\f19d";
}
.icon-google:before {
    content: "\f1a0";
}
.icon-stumbleupon:before {
    content: "\f1a4";
}
.icon-delicious:before {
    content: "\f1a5";
}
.icon-digg:before {
    content: "\f1a6";
}
.icon-drupal:before {
    content: "\f1a9";
}
.icon-joomla:before {
    content: "\f1aa";
}
.icon-cubes:before {
    content: "\f1b3";
}
.icon-behance:before {
    content: "\f1b4";
}
.icon-steam:before {
    content: "\f1b6";
}
.icon-deviantart:before {
    content: "\f1bd";
}
.icon-soundcloud:before {
    content: "\f1be";
}
.icon-vine:before {
    content: "\f1ca";
}
.icon-codepen:before {
    content: "\f1cb";
}
.icon-jsfiddle:before {
    content: "\f1cc";
}
.icon-life-bouy:before {
    content: "\f1cd";
}
.icon-life-buoy:before {
    content: "\f1cd";
}
.icon-life-ring:before {
    content: "\f1cd";
}
.icon-life-saver:before {
    content: "\f1cd";
}
.icon-support:before {
    content: "\f1cd";
}
.icon-git:before {
    content: "\f1d3";
}
.icon-wechat:before {
    content: "\f1d7";
}
.icon-weixin:before {
    content: "\f1d7";
}
.icon-paper-plane:before {
    content: "\f1d8";
}
.icon-send:before {
    content: "\f1d8";
}
.icon-paper-plane-o:before {
    content: "\f1d9";
}
.icon-send-o:before {
    content: "\f1d9";
}
.icon-sliders:before {
    content: "\f1de";
}
.icon-bomb:before {
    content: "\f1e2";
}
.icon-slideshare:before {
    content: "\f1e7";
}
.icon-twitch:before {
    content: "\f1e8";
}
.icon-yelp:before {
    content: "\f1e9";
}
.icon-wifi:before {
    content: "\f1eb";
}
.icon-paypal:before {
    content: "\f1ed";
}
.icon-google-wallet:before {
    content: "\f1ee";
}
.icon-cc-visa:before {
    content: "\f1f0";
}
.icon-cc-mastercard:before {
    content: "\f1f1";
}
.icon-cc-discover:before {
    content: "\f1f2";
}
.icon-cc-amex:before {
    content: "\f1f3";
}
.icon-cc-paypal:before {
    content: "\f1f4";
}
.icon-cc-stripe:before {
    content: "\f1f5";
}
.icon-trash2:before {
    content: "\f1f8";
}
.icon-copyright2:before {
    content: "\f1f9";
}
.icon-at:before {
    content: "\f1fa";
}
.icon-area-chart:before {
    content: "\f1fe";
}
.icon-pie-chart:before {
    content: "\f200";
}
.icon-line-chart:before {
    content: "\f201";
}
.icon-lastfm:before {
    content: "\f202";
}
.icon-angellist:before {
    content: "\f209";
}
.icon-diamond:before {
    content: "\f219";
}
.icon-pinterest-p:before {
    content: "\f231";
}
.icon-whatsapp:before {
    content: "\f232";
}
.icon-mouse-pointer:before {
    content: "\f245";
}
.icon-trademark:before {
    content: "\f25c";
}
.icon-registered:before {
    content: "\f25d";
}
.icon-creative-commons:before {
    content: "\f25e";
}
.icon-tripadvisor:before {
    content: "\f262";
}
.icon-get-pocket:before {
    content: "\f265";
}
.icon-safari:before {
    content: "\f267";
}
.icon-chrome:before {
    content: "\f268";
}
.icon-firefox:before {
    content: "\f269";
}
.icon-opera:before {
    content: "\f26a";
}
.icon-internet-explorer:before {
    content: "\f26b";
}
.icon-television:before {
    content: "\f26c";
}
.icon-tv:before {
    content: "\f26c";
}
.icon-contao:before {
    content: "\f26d";
}
.icon-500px:before {
    content: "\f26e";
}
.icon-amazon:before {
    content: "\f270";
}
.icon-vimeo:before {
    content: "\f27d";
}
.icon-reddit-alien:before {
    content: "\f281";
}
.icon-edge:before {
    content: "\f282";
}
.icon-usb:before {
    content: "\f287";
}
.icon-mixcloud:before {
    content: "\f289";
}
.icon-pause-circle-o:before {
    content: "\f28c";
}
.icon-shopping-basket:before {
    content: "\f291";
}
.icon-percent:before {
    content: "\f295";
}
.icon-eye2:before {
    content: "\e003";
}
.icon-paper-clip:before {
    content: "\e004";
}
.icon-mail:before {
    content: "\e005";
}
.icon-toggle:before {
    content: "\e006";
}
.icon-layout:before {
    content: "\e007";
}
.icon-link2:before {
    content: "\e008";
}
.icon-bell:before {
    content: "\e009";
}
.icon-lock:before {
    content: "\e00a";
}
.icon-unlock:before {
    content: "\e00b";
}
.icon-ribbon:before {
    content: "\e00c";
}
.icon-image2:before {
    content: "\e010";
}
.icon-signal2:before {
    content: "\e011";
}
.icon-target:before {
    content: "\e012";
}
.icon-clipboard:before {
    content: "\e013";
}
.icon-clock:before {
    content: "\e014";
}
.icon-watch:before {
    content: "\e015";
}
.icon-air-play:before {
    content: "\e016";
}
.icon-camera:before {
    content: "\e017";
}
.icon-video:before {
    content: "\e018";
}
.icon-disc:before {
    content: "\e019";
}
.icon-printer:before {
    content: "\e020";
}
.icon-monitor:before {
    content: "\e021";
}
.icon-server:before {
    content: "\e022";
}
.icon-cog:before {
    content: "\e023";
}
.icon-heart:before {
    content: "\e024";
}
.icon-paragraph:before {
    content: "\e025";
}
.icon-align-justify:before {
    content: "\e026";
}
.icon-align-left:before {
    content: "\e027";
}
.icon-align-center:before {
    content: "\e02a";
}
.icon-align-right:before {
    content: "\e02b";
}
.icon-book:before {
    content: "\e030";
}
.icon-layers:before {
    content: "\e031";
}
.icon-stack2:before {
    content: "\e032";
}
.icon-stack-2:before {
    content: "\e033";
}
.icon-paper:before {
    content: "\e03a";
}
.icon-paper-stack:before {
    content: "\e03b";
}
.icon-search2:before {
    content: "\e03c";
}
.icon-zoom-in:before {
    content: "\e03d";
}
.icon-zoom-out:before {
    content: "\e03e";
}
.icon-reply:before {
    content: "\e03f";
}
.icon-circle-plus:before {
    content: "\e040";
}
.icon-circle-minus:before {
    content: "\e041";
}
.icon-circle-check:before {
    content: "\e042";
}
.icon-circle-cross:before {
    content: "\e043";
}
.icon-square-plus:before {
    content: "\e044";
}
.icon-square-minus:before {
    content: "\e045";
}
.icon-square-check:before {
    content: "\e046";
}
.icon-square-cross:before {
    content: "\e047";
}
.icon-microphone:before {
    content: "\e048";
}
.icon-record:before {
    content: "\e049";
}
.icon-skip-back:before {
    content: "\e050";
}
.icon-rewind:before {
    content: "\e051";
}
.icon-play:before {
    content: "\e052";
}
.icon-pause2:before {
    content: "\e053";
}
.icon-stop:before {
    content: "\e054";
}
.icon-fast-forward:before {
    content: "\e055";
}
.icon-skip-forward:before {
    content: "\e056";
}
.icon-shuffle:before {
    content: "\e057";
}
.icon-repeat:before {
    content: "\e058";
}
.icon-folder:before {
    content: "\e059";
}
.icon-umbrella2:before {
    content: "\e060";
}
.icon-moon:before {
    content: "\e061";
}
.icon-thermometer:before {
    content: "\e062";
}
.icon-drop:before {
    content: "\e063";
}
.icon-sun:before {
    content: "\e064";
}
.icon-cloud2:before {
    content: "\e065";
}
.icon-cloud-upload:before {
    content: "\e066";
}
.icon-cloud-download:before {
    content: "\e067";
}
.icon-upload:before {
    content: "\e068";
}
.icon-download:before {
    content: "\e069";
}
.icon-location:before {
    content: "\e070";
}
.icon-location-2:before {
    content: "\e071";
}
.icon-map:before {
    content: "\e072";
}
.icon-battery:before {
    content: "\e073";
}
.icon-head:before {
    content: "\e074";
}
.icon-briefcase:before {
    content: "\e075";
}
.icon-speech-bubble:before {
    content: "\e076";
}
.icon-anchor2:before {
    content: "\e077";
}
.icon-globe:before {
    content: "\e078";
}
.icon-box:before {
    content: "\e079";
}
.icon-reload:before {
    content: "\e080";
}
.icon-share2:before {
    content: "\e081";
}
.icon-marquee:before {
    content: "\e082";
}
.icon-marquee-plus:before {
    content: "\e083";
}
.icon-marquee-minus:before {
    content: "\e084";
}
.icon-tag:before {
    content: "\e085";
}
.icon-power:before {
    content: "\e086";
}
.icon-command:before {
    content: "\e087";
}
.icon-alt:before {
    content: "\e088";
}
.icon-esc:before {
    content: "\e089";
}
.icon-bar-graph:before {
    content: "\e090";
}
.icon-bar-graph-2:before {
    content: "\e091";
}
.icon-pie-graph:before {
    content: "\e092";
}
.icon-star2:before {
    content: "\e093";
}
.icon-arrow-left:before {
    content: "\e094";
}
.icon-arrow-right:before {
    content: "\e095";
}
.icon-arrow-up:before {
    content: "\e096";
}
.icon-arrow-down:before {
    content: "\e097";
}
.icon-volume:before {
    content: "\e098";
}
.icon-mute:before {
    content: "\e099";
}
.icon-content-right:before {
    content: "\e100";
}
.icon-content-left:before {
    content: "\e101";
}
.icon-grid:before {
    content: "\e102";
}
.icon-grid-2:before {
    content: "\e103";
}
.icon-columns:before {
    content: "\e104";
}
.icon-loader:before {
    content: "\e105";
}
.icon-bag:before {
    content: "\e106";
}
.icon-ban:before {
    content: "\e107";
}
.icon-flag:before {
    content: "\e108";
}
.icon-trash:before {
    content: "\e109";
}
.icon-expand:before {
    content: "\e110";
}
.icon-contract:before {
    content: "\e111";
}
.icon-maximize:before {
    content: "\e112";
}
.icon-minimize:before {
    content: "\e113";
}
.icon-plus:before {
    content: "\e114";
}
.icon-minus:before {
    content: "\e115";
}
.icon-check2:before {
    content: "\e116";
}
.icon-cross:before {
    content: "\e117";
}
.icon-move:before {
    content: "\e118";
}
.icon-delete:before {
    content: "\e119";
}
.icon-menu2:before {
    content: "\e120";
}
.icon-archive:before {
    content: "\e121";
}
.icon-inbox:before {
    content: "\e122";
}
.icon-outbox:before {
    content: "\e123";
}
.icon-file:before {
    content: "\e124";
}
.icon-file-add:before {
    content: "\e125";
}
.icon-file-subtract:before {
    content: "\e126";
}
.icon-help:before {
    content: "\e127";
}
.icon-open:before {
    content: "\e128";
}
.icon-ellipsis:before {
    content: "\e129";
}

