<footer>
    <div class="row expanded footerWrapper">
        <div class="small-12 medium-7 large-8 columns">
            <div class="row">
                <div class="small-12 columns">
                    <div id="footerCopy">
                        <h6>Restful Brilliance, LLC</h6>
                        <p>&copy; Robert Strube. All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="small-12 medium-5 large-4 columns show-for-medium">
            <div class="row clearfix">
                <div class="small-6 medium-7 large-9 columns">
                    <div id="footerInfo">
                        <p>rstrube -at- restfulbrilliance.com</p>
                        <p>+1 484 899 0017</p>
                    </div>
                </div>

                <div class="small-6 medium-5 large-3 columns">
                    <div id="footerSocials">
                        <!--<a href="#">Instagram</a>-->
                        <a href="https://www.twitter.com/{{ site.twitter_username }}">Twitter</a>
                        <!--<a href="#">Dribbble</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>