<div class="fakeloader"></div>
<div class="flbackdrop"></div>

<header class="relPosition fixedHeader">
    <div class="menuBar slide headroom--top" id="autoHide">
        <div class="row expanded">
            <div class="small-6 medium-3 columns">
                <div id="logo">
                    <a href="/" class="sd-logo"><img src="/img/logo.png" alt="gem"></a>
                    <a href="/" class="hd-logo"><img src="/img/logo@2x.png" alt="gem"></a>
                </div>
            </div>
            <div class="small-6 medium-9 columns noPadding">
                <div id="menuIcon" class="hide-for-large">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menuInline classic large-text-right">
                    <ul data-magellan data-animation-duration="800" data-bar-offset="50">
                        {% if page.url == "/" %}
                        <li class="navLink"><a href="#home">Home</a></li>
                        <li class="navLink"><a href="#services">Services</a></li>
                        <li class="navLink"><a href="/whoweare">Who we are</a></li>
                        <li class="navLink"><a href="/technologies">Technologies</a></li>
                        <li class="navLink"><a href="/blog">Blog</a></li>
                        <li class="navLink"><a href="#contact-form">Contact</a></li>
                        {% else %}
                        <li class="navLink"><a href="/">Home</a></li>
                        <li class="navLink"><a href="/#services">Services</a></li>
                        <li class="navLink"><a href="/whoweare">Who we are</a></li>
                        <li class="navLink"><a href="/technologies">Technologies</a></li>
                        <li class="navLink"><a href="/blog">Blog</a></li>
                        <li class="navLink"><a href="/#contact-form">Contact</a></li>
                        {% endif %}
                        <li class="navLink">
                            <a class="navIcon" href="https://www.twitter.com/{{ site.twitter_username }}"><span class="icon-twitter"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>